* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia;
}

/*  */
.header {
    background-color:  rgb(155, 55, 155);
    padding: 0 100px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}


.nav__link {
    color: inherit;
    text-decoration: none;
    margin-left: 20px;
    font-size: 17px;
}

.nav__link:hover {
    color: navajowhite;
}

.nav__link--active {
    border-bottom: 4px solid whitesmoke;
}

.nav__link--active:hover {
    border-bottom: 4px solid  rgb(155, 55, 155);
}


.header__title:hover {
    color: navajowhite;
}

.img__fondo {
    width: 100%;
    border-bottom: 5px solid black;
}



#price-sec {
    background-color: white;
    padding-top: 50px;
}
.plan {
    background: #fff;
    padding: 0 0 15px 0;
    margin: 30px 0px;
    list-style: none;
    text-align: center;
  
}

.h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.plan li {
   padding: 15px 0px;
color: #000;
font-size: 16px;
border-bottom:1px dotted #e1e1e1;
}


.plan li.plan-head {
   padding: 40px 0px;
line-height: 35px;
font-size: 32px;
font-weight: 600;
border: none;
   }

.plan li.main-price {
padding: 25px 0px;
color: #FF8500;
border: none;
font-weight: 900;
font-size: 30px;
}

small {
    font-size: 10px;
    color:#000;
}



.portfolio-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .portfolio-items {
    margin-right: -20px;
  }
  .portfolio-items > li {
    float: left;
    padding: 0;
    margin: 0;
  }
  
  .portfolio-items.col-3 > li {
    width: 33%;
  }
  
  .portfolio-item .item-main {
    margin: 0 10px 10px 0;
    text-align: center;
    background: #fff;
    padding: 10px;
    border:1px solid #E8EAEE;
    
  }
  .portfolio-item img {
    width: 280px;
    height: 280px;
  }
  .portfolio-item .portfolio-image {
    position: relative;
  }
  .portfolio-item h5 {
    margin: 0;
    padding: 10px 0 10px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: rgb(155, 55, 155);
  color: #fff;
  }
  .portfolio-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    vertical-align: middle;
    -webkit-transition: opacity 300ms;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    transition: opacity 300ms;
  }
  .portfolio-item .overlay .preview {
    position: relative;
    top: 50%;
    display: inline-block;
    margin-top: -20px;
  }
  .portfolio-item:hover .overlay {
    opacity: 1;
  }

  #contact-sec {
    background-color:#f5f3f3;
}
.cnt {
width: 100%;
min-height: 350px;
border: 1px solid #e1e1e1;
}

  #footer {
    background-color: rgb(155, 55, 155);
    color: whitesmoke;
    padding:20px 50px 20px 50px;
    text-align:right;
    font-size: 20px;
    margin-top: 25px;
}